@charset "UTF-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl,
dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto;
    line-height: 0
}

/* ここまでresetCSS */

/* layout */
body {
    font-family: ヒラギノ角ゴ ProN W3, HiraKakuProN-W3, ヒラギノ角ゴ Pro W3, HiraKakuPro-W3, メイリオ, Meiryo,
    ＭＳ\ Ｐゴシック, MS Pgothic, Osaka, sans-serif;
    line-height: 1.8;
    color: #333333 /* 全体の文字色 */
}

header {
    background-color: #ffffff
}

/* #h_wrapper, #f_wrapper{width:100%} */


#side_bar {
    float: none;
    width: 100%;
    /*background-color: orange;*/
}

main {
    width: 100%;
    float: none;
    overflow: hidden;
    /*background-color: #BC8F8F;*/
}

#top_page main {
    margin: 0;
}


#side_bar {
    width: 20%; /* サイドバー幅 */
    float: left; /* サイドバー位置 */
}

footer {
    color: #ffffff;
}

/* color */
a {
    color: #0074a2;
}

/* side bar */

.sb_section {
    width: 90%;
    padding: 10px 5%;
    margin-bottom: 30px;
}

.sb_section li {
    list-style: none;
    margin: 10px 0;
}

.sb_section li a {
    display: block;
    text-decoration: none;
}

/* header */

#header_i {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}

#top_page #header_i {
    box-shadow: 0 3px 3px 0 rgba(40, 40, 40, 0.1);
}

#site_title {
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#site_title img {
    width: 240px;
    height: 40px;
}

#g_nav {
}

#g_nav li {
    list-style: none;
    float: left;
    width: 25%;
    height: 60px;

}

#g_nav li a {
    text-decoration: none;
    display: block;
    width: 92%;
    height: 40px;
    margin: 0 4%;
    color: #333333;
    text-align: center;
    background-clip: border-box;
    overflow: hidden;

}

.g_o {
    height: 25px;
    overflow: hidden;
    display: inline-block;
}

#g_nav li a .g_i {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#g_nav li a .g_i:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: bold;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#g_nav li a:focus .g_i, #g_nav li a:hover .g_i {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    color: orangered;
}


#bread_crumb {
    list-style: none;
    font-size: 14px;
    padding: 10px 2%;
    width: 96%;
    height: 25px;
    background-color: #f5f5f5;
    border-top: solid #dcdcdc 1px;
    border-bottom: solid #dcdcdc 1px;
    margin-top: 90px;

}

#bread_crumb li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

#bread_crumb a {
    text-decoration: none;
    color: #333333;
}

#bread_crumb h1 {
    font-size: 14px;
    font-weight: normal;
}

/* footer */
footer {
    padding-top: 30px;
}

#company_info {
    text-align: center;
    padding-bottom: 30px;
}

#footer_l {
    margin-top: 30px;
}

#footer_l ul {
    list-style: none;
    font-size: 13px;
    width: 94%;
    margin: 7px auto 0;
}

#company_info {
    width: 50%;
    margin: 10px auto 0;
}

#company_info ul {
    list-style: none;
}

#c_name_o {
    display: block;
    float: left;
    width: 250px;
    height: 60px;
}

#c_name {
    display: block;
    margin-left: 40px;
}

#c_name img {
    width: 225px;
    height: 37px;
}

#c_address, #c_tel {
    float: right;
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
}

#c_address {
    margin-top: 20px;
}

#footer_l a {
    color: #ffffff;
    text-decoration: none;
}

.fl_cat {
    width: 20%;
    float: left;
}

#copy_rights {
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
}

.bold_f {
    font-weight: bold;
}

/* main content */


article p {
    width: 97%;
    margin-left: 3%;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#top_page article .top_page_top p {
    margin-bottom: 20px;
}


.split_li {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.sp_li2, .sp_li3 {
    height: 150px;
}

.sp_li2 a, .sp_li3 a {
    display: block;
    height: 130px;
    width: 80%;
    padding: 10px 10%;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.sp_li2 a:hover, .sp_li3 a:hover {
    box-shadow: 0 0 45px 0 rgba(200, 200, 200, 0.9);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.split_li a {
    text-decoration: none;
    color: #333333;
}

.sp_ti {
    text-align: center;
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
}

.split_li span {
    text-align: center;
    margin-top: 10px;
    display: block;
}


.contact_btn {
    text-align: center;
}

article ol {
    margin-bottom: 30px;
}

article ol li {
    margin-left: 50px;
    margin-bottom: 15px;
}

.arrow_box, .sim_box {
    width: 80%;
    background-color: #eeeeee;
    position: relative;
    padding: 15px;
}

.sim_box {
    margin: 25px auto;
}

.arrow_box {
    margin: 10px auto 40px;
}

.arrow_box:after {
    content: "";
    border-top: darkcyan 25px solid;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -35px;
    right: 45%;

}


/* 見出しデザイン */
h2 {
    border-left: none;
    padding: 0;
    margin: 20px 0 60px;
    height: 30px;
    width: 100%;
    text-align: center;
}

h2 span {
    border-bottom: 2px solid;
    padding: 0 3px;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
}

h3.pup {
    color: orange;
    font-size: 21px;
}

h3 {
    font-size: 20px;
}

.ach {
    display: block;
    padding-top: 90px;
    margin-top: -90px;
    z-index: -100;
}

.z_m {
    margin-top: 20px;
}

/* clear fix */
.wrapper:after, .h_wrapper:after, #g_nav:after, .split_li:after, #footer_l:after, #g_nav:after, #header_i:after,
#company_info:after, .l_view:after {
    content: "";
    display: block;
    clear: both
}


.top_img {
    position: relative;
    width: 100%; /*背景画像の横幅*/
    height: 150px; /*背景画像の縦幅*/
    background-image: url(../images/top_t.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
}


.blend__text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    /*line-height: 450px;*/ /*親要素の背景画像の縦幅*/
    /*値を変更すれば様々な効果を与えられます*/
    position: absolute;
    top: 180px;
    left: 20px;
    padding: 10px;
    width: 310px;
    background-color: rgba(0, 0, 0, 0.4);
}

.mc_view {
    height: 500px;
    position: relative;
    margin-bottom: 90px;
}

.bc_view {
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 90px;
}

.l_view {
    position: relative;
    margin-bottom: 90px;
}

.l_image {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50px
}

.l_text_b {
    width: 50%;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 40%;
    background-color: #cccccc;
}

.top_text {
    color: #333333;
    position: relative;
    margin-top: 30px;
}

.top_text p {
    margin: 20px 5%;
    width: 90%;
}

.center {
    margin: 0 auto;
}

.page-top {
    margin: 0;
    padding: 0;
}

.page-top p {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100
}

#move-page-top {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.tbl_dl,
.tbl_dl dt,
.tbl_dl dd {
    box-sizing: border-box;
}

.tbl_dl {
    background: #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 70%;
    margin: 10px auto;
}

.tbl_dl dt,
.tbl_dl dd {
    padding: 10px 10px 0 10px;
    border-top: 1px solid #ccc;
}

.tbl_dl dt {
    width: 40%;
    float: left;
    text-align: center;
}

.tbl_dl dd {
    background: #fff;
    margin-left: 40%;
    padding-bottom: 10px;
    border-left: 1px solid #ccc;
}

.tbl_dl dd:after {
    content: '';
    display: block;
    clear: both;
}

.top_section {

    background-size: cover;
    background-repeat: no-repeat;
    position: relative
}

.top_section::before {
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0, 0, 0, 0.3);
    /* 自由に位置指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

#top_making_site {
    background-image: url("../images/making_site_t.jpg");
}

#top_technology {
    background-image: url("../images/technology_t.jpg");
}

#top_company {
    background-image: url("../images/company_t.jpg");
}

#page_title {
    margin: auto auto;
    width: 30%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    z-index: 200;

}

.ptm {
    color: #ffffff;
    display: inline-block;
    border-bottom: #ffffff 2px solid;
    font-size: 40px;
    height: 65px;
    letter-spacing: 5px;
    padding: 0 3px;
}

.pte {
    color: #ffffff;
    display: block;
    font-size: 25px;
    line-height: 1;
    margin-top: 8px;
    height: 50px;
    letter-spacing: 1px;
}

.ts_nav_o {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ts_nav {
    margin: 0 auto;
    width: 1000px;
    height: 50px
}

.ts_nav li {
    height: 100px;
    float: left;
    list-style: none;
}

.ts_nav li a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 190;
    position: relative;
}

.ts_a {
    display: block;
    line-height: 1.5;
}

.ts_a:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    background-image: url("../images/angle-arrow-down-w1.png");
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


.ts_nav a:hover {
    color: #eeeeee;
}

a:hover .ts_a:after {
    margin-top: 15px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
}

.sa.show {
    opacity: 1;
    transform: none;
}

.width_100 {
    width: 100%;
}

.width_50 {
    width: 50%;
}

.width_33 {
    width: 33%;
}

.width_25 {
    width: 25%;
}

.width_20 {
    width: 20%;
}

.next {
    width: 300px;
    height: 36px;
    position: absolute;
    right: 70px;
    bottom: 5px;
}

.next a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3px 0;
}

.l_view .next {
    position: relative;
    margin-top: 30px;
    float: right;
}

/* テスト用CSS */
/* イメージ切り替えボタン */
.test_button {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 500px;
    height: 50px;
    color: red;
    background-color: yellow;
    padding: 10px;
}

/*色変更テスト用クラス*/
.main_cl_cl {
    color: darkcyan;
}

.main_cl_bg {
    background-color: darkcyan;
}

.main_cl_bdb {
    border-bottom-color: darkcyan;
}

.main_cl_bdt:hover {
    border-top-color: darkcyan;
}

.q_a {
    margin-top: 60px;
}

.q_a dt {
    background-color: #eeeeee;
    padding: 10px 10px 10px 35px;
    margin-left: 60px;
    margin-bottom: 30px;
    text-indent: -25px;
    border-radius: 10px;
}

.q_a dd {
    margin-left: 60px;
    margin-bottom: 60px;
    text-indent: -25px;
    padding: 10px 10px 10px 35px;
}

.q_a dt:before {
    content: 'Q.';
    margin-right: 10px;
    font-weight: bold;

}

.q_a dd:before {
    content: 'A.';
    margin-right: 10px;
    font-weight: bold;
}

/* タブレット */
@media screen and (min-width: 768px) and ( max-width: 1019px) {
    .sp_li2, .sp_li3 {
        float: left;
        list-style: none
    }

    .sp_li2 {
        width: 50%
    }

    .sp_li3 {
        width: 33%
    }

    #site_title {
        float: left;
        width: 300px;
        margin-top: 17px;
        margin-left: 20px;
    }

    #site_title img {
        width: 300px;
        height: 50px;
    }
}

/* デスクトップ */
@media screen and (min-width: 1020px)/* ラッパー幅 */ {
    .wrapper {
        width: 1020px; /* ラッパー幅 */
        margin: 0 auto;
        padding: 0;
    }

    #top_page main {
        padding: 0;
    }

    .top_img img {
        width: 100%;

    }

    #top_page_nav {
        height: 120px;
        margin-top: 0;
    }

    #top_page_nav ul {
        width: 100%;
        height: 100px;
        padding: 10px 0;
    }

    #top_page_nav li {
        list-style: none;
        width: 24%;
        border-right: #ffffff dotted 1px;
        float: left;
        height: 100px;
    }

    #top_page_nav li:last-child {
        border-right: none;
    }

    #top_page_nav li a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 10%;
        width: 80%;
        height: 100px;
        display: block;
        text-align: center;
        position: relative;
    }

    #top_page_nav li a span {
        height: 80px;
        display: block;
    }

    #site_title {
        float: left;
        width: 300px;
        margin-top: 17px;
        margin-left: 20px;
    }

    #site_title img {
        width: 300px;
        height: 50px;
    }

    #g_nav {
        float: right;
        width: 50%;
        margin-top: 30px;
    }

    #g_nav li a {
        padding-top: 10px;
    }

    #header_i {
        height: 80px;
    }

    .top_img {
        height: 500px; /*背景画像の縦幅*/
        background-image: url(../images/top_t.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 80px;
    }
    #bread_crumb {
    margin-top: 80px;}

    #contact .wrapper {
        width: 800px; /* ラッパー幅 */
        margin: 0 auto;
    }

    #sb_main {
        width: 78%; /* main幅 */
        padding: 5px 1%;
        float: left; /* サイドバー位置 */
        /*background-color: #BC8F8F;*/
    }

    #side_bar {
        width: 20%; /* サイドバー幅 */
        float: left; /* サイドバー位置 */
    }

    .sp_li2, .sp_li3 {
        float: left;
        list-style: none
    }

    .sp_li2 {
        width: 50%
    }

    .sp_li3 {
        width: 33.2%
    }
}