@charset "UTF-8";
article, aside, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table,
tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    color: #0074a2 /* link_color */
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto;
    line-height: 0
}

/* reset CSS end */
body {
    font-family: ヒラギノ角ゴ ProN W3, HiraKakuProN-W3, ヒラギノ角ゴ Pro W3, HiraKakuPro-W3, メイリオ, Meiryo, ＭＳ\ Ｐゴシック,
    MS Pgothic, Osaka, sans-serif;
    line-height: 1.8;
    color: #333333;
}

main {
    width: 100%;
    float: none;
    overflow: hidden
}

footer {
    color: #333333;
    padding-top: 50px
}

article p {
    width: 96%;
    margin: 10px 2% 20px;
    letter-spacing: 1px
}

article ol {
    margin-bottom: 30px
}

article ol li {
    margin-left: 50px;
    margin-bottom: 15px
}

h2 {
    padding: 0;
    margin: 20px 0;
    width: 100%;
    height: 39px;
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 25px;
}


h3 {
    font-size: 20px;
    margin: 50px 0 10px 30px;
}

article strong {
    font-weight: bold;
    font-size: 120%;
    color: #6B6B6B; /* accent_color */
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"], input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]:focus, input[type="button"]:focus {
    outline-offset: -2px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background: #6B6B6B; /* accent_color */
}

form {
    padding-bottom: 50px;
}

#top_page main {
    margin: 0
}

#top_page article .top_page_top p {
    margin-bottom: 20px
}

#top_page .mc_view {
    height: 500px;
    position: relative;
    top: 0;
}

#top_page .bc_view {
    margin-bottom: 0;
}

#top_img {
    width: 100%;
    position: fixed;
    z-index: -10;
    overflow: hidden;
    height: 50%;
    margin-top: 80px;
    background-image: url("../images/t4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    will-change: contents;
}

.top_img_f {
    width: 100%;
    animation: imgFrame 21s 0s infinite;
    -webkit-animation: imgFrame 21s 0s infinite;
    /*transform: scaleX(1);*/
    position: relative;
    margin-left: -100%;
    transform: scaleX(0) translateX(0%) scaleY(1);
    filter: blur(15px);
    will-change: contents
}

@keyframes imgFrame {
    0% {
        transform: scaleX(0) translateX(0) scaleY(1);
        filter: blur(15px);
    }

    20% {
        transform: scaleX(1) translateX(100%);
        filter: blur(0);
    }
    50% {
        transform: scaleX(1) translateX(100%) scaleY(1);
        filter: blur(0);
        opacity: 1;
    }
    51% {
        transform: scaleX(0) translateY(-100%) scaleY(0);
        opacity: 0;
    }
    99% {
        transform: scaleX(0) translateX(0) scaleY(0);
    }
    100% {
        transform: scaleX(0) translateX(0) scaleY(1);
    }
}

.top_img_f:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.top_img_f:nth-of-type(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.top_img_f:nth-of-type(4) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.top_img_in {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    position: absolute;
    will-change: contents
}

.top_img_in:before {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
}

#top_t1 {
    background-image: url("../images/t1.jpg");
}

#top_t2 {
    background-image: url("../images/t2.jpg");
}

#top_t3 {
    background-image: url("../images/t3.jpg");
}

#top_t4 {
    background-image: url("../images/t4.jpg");
}

#header_i {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    transition: 0.5s;
}

#site_title {
    width: 50%;
    margin-top: 5px;
    margin-left: 1%;
    line-height: 1;
    float: left;
}

#site_title a {
    display: block;
}

#site_logo {
    width: 15%;
    height: auto;
    margin-right: 1%;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

#main_logo {
    width: 80%;
    height: auto;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

#header_info {
    position: relative;
    float: right;
    width: 49%;
    top: 5px;
    right: 0;
}

#tel_num {
    width: 90%;
    float: left;
    font-size: 22px;
    letter-spacing: 1px;
    color: #333333;
    line-height: 1;
    margin-top: 5px;
    text-align: right;
    font-family: "Tahoma", serif;
}

.w2b {
    display: none;
}

#g_nav {
    display: block;
    margin-top: 10px;
}

.g_nav_li {
    list-style: none;
    float: left;
    width: 20%;
    height: 50px;
    position: relative;
}

a.g_nav_a {
    text-decoration: none;
    display: block;
    width: 92%;
    height: 40px;
    margin: 0 4%;
    text-align: center;
}

.g_nav_a_s {
    color: #333333;
    will-change: contents;
    transition: 1s;
}

#g_nav_btn {
    background: none;
    border: 0;
    width: 92%;
    height: 40px;
    margin: 0 4%;
    text-align: center;
    font-size: 16px;
    display: block;
    position: relative;
}

#g_nav_c1 {
    display: none;
    transition: 1s
}

#g_nav_btn.is_open + #g_nav_c1 {
    display: block;
    z-index: 100;
    position: absolute;
    top: 58px;
    left: -80%;
    background-color: #f0f0f0;
    width: 450%;
    height: 250px;
    transition: 1s;
    padding: 50px 5% 30px 5%;
    box-shadow: 0 3px 3px 0 rgba(40, 40, 40, 0.1);
    border-radius: 10px;
}

#g_nav_btn.is_open + #g_nav_c1:after {
    content: "印刷技術";
    font-weight: bold;
    color: #333333;
    position: absolute;
    top: 15px;
    right: 45%;
    z-index: 101;
    font-size: 18px;
    letter-spacing: 1px;
}

#g_nav_btn.is_open + #g_nav_c1:before {
    content: "";
    border-bottom: #f0f0f0 15px solid;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -15px;
    left: 30%;
}

.g_nav_c {
    width: 80%;
    height: 50px;
    float: left;
    background-size: cover;
    margin: 0 10% 15px;
}
.mob_none{
    display: none;
}

#gnc1 {
    background-image: url("../images/m1.jpg");
}

#gnc2 {
    background-image: url("../images/m2.jpg");
}

#gnc3 {
    background-image: url("../images/m3.jpg");
}

#gnc4 {
    background-image: url("../images/m4.jpg");
}

.g_nav_c a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 95%;
    height: 95%;
    padding: 5% 0 0 5%;
}

#g_nav_btn.is_open:after {
    content: "";
    width: 100%;
    height: 100%;
    /*cursor: default;  カーソルはデフォルトに戻しておく */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99
}

#top_img_text {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 200px
}

.blend_text {
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: rgba(155, 155, 155, 0.9) 0 0 3px;
    position: relative;
    margin: 0 auto;
    z-index: 12;
    animation: text-fade-in;
    animation-duration: 3s;
}

@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#blend_second {
    display: block;
    font-size: 18px;
    color: #ffffff;
    text-shadow: rgba(155, 155, 155, 0.9) 0 0 3px;
    position: relative;
    margin: 5px auto;
    z-index: 12;
    animation: text-fade-in2;
    animation-duration: 6s;
}

@keyframes text-fade-in2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* design - top_page_nav */
#top_page_nav {
    display: none;
}

/*
#top_page_nav {
    height: 100px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: absolute;
    z-index: 500;
    bottom: 10px;
    left: 5%;
}

#top_page_nav ul {
    width: 100%;
    height: 100%;
    z-index: 81;
}

#top_page_nav li {
    list-style: none;
    width: 50%;
    float: left;
    height: 96px
}

#top_page_nav li a {
    text-decoration: none;
    color: #333333;
    padding: 10%;
    width: 79%;
    height: 79%;
    display: block;
    position: relative;
}

*/

.main_cl_bg {
    background-color: #fff59d; /* main_color */
}

.zigzag {
    position: relative;
    width: 100%;
    height: 5px;
    background: #f5f5f5; /* background_color */
    margin-top: 15px;
}

.zigzag::before {
    height: 20px;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
}

.zigzag::before {
    top: -20px;
    background: linear-gradient(45deg, #f5f5f5 10px, transparent 0),
    linear-gradient(315deg, #f5f5f5 10px, transparent 0);
    background-size: 20px 20px;
}

.text_area1 {
    width: 80%;
    padding: 60px 7%;
    margin: 0 auto;
}

.text_area1 h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.text_area1 h2:before {
    display: none;
}

article .text_area1 p {
    margin-left: 10px;
}

.image_area1 {
    width: 100%;
    height: 300px;
    background-image: url("../images/img_a1.jpeg");
    background-size: cover;
}

.l_view {
    position: relative;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5; /* background_color */
    z-index: 10;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper:after, .h_wrapper:after, #g_nav:after, .split_li:after, #a_l:after, #header_i:after,
#company_info:after, .l_view:after, .ts_nav:after, section:after, .mc_li:after, .img_box1:after, #site_title:after,
#footer_l ul:after, #f_wrapper:after, #header_info:after, #header_upper:after, .area1:after, #top_info li:after {
    content: "";
    display: block;
    clear: both
}

.h2_info {
    padding: 0;
    margin: 20px 0 60px 3%;
    width: 90%;
    height: 39px;
    position: relative;
    z-index: 5;
    text-align: left;
}

.h2_info span {
    display: inline-block;
    padding: 0 10px;
    width: auto;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #f5f5f5; /* background_color */
    z-index: 5;
    position: absolute;
}

.h2_info:before {
    content: "";
    display: block;
    border-top: solid 1px #bbbbbb;
    width: 90%;
    height: 1px;
    position: relative;
    left: 0;
    top: 45%;
    z-index: -1;
}

#top_info {
    width: 80%;
    margin: 20px auto;
    list-style: none;
}

#top_info li {
    margin-bottom: 10px;
}

.info_date {
    display: block;
    margin-right: 30px;
}

.bg_img h2 {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow: #bbbbbb 0 0 2px;
    letter-spacing: 2px;
    z-index: 5;
    margin: 20px 0 10px;
    width: 100%;
}

#bg_img1 {
    background-image: url("../images/bg1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin: 30px 0;
    /* 背景ぼかし ここまで */
}

.bg_img_text {
    position: relative;
    z-index: 10;
    color: #ffffff;
    font-size: 20px;
    text-shadow: #bbbbbb 0 0 2px;
}

.bg_img_text p {
    display: block;
    width: 100%;
    text-align: center;
}

.ach {
    display: block;
    padding-top: 90px;
    margin-top: -90px;
    z-index: -100
}

.main_cl_bdb {
    border-bottom-color: #1676d2; /* accent_color */
    background-color: #f5f5f5; /* background_color */
}

.mc_li {
    margin: 50px 0;
}

.mc_li li {
    background-color: #fff59d; /* main_color */
    height: 100px;
    margin: 20px auto;
    width: 90%;
    border-radius: 7px;
    overflow: hidden;;
}

.mc_li .sp_ti {
    background-color: #1676d2; /* accent_color */
    color: #ffffff;
    height: 30px;
}

.mc_li a, .mc_li span {
    color: #333333;
}

.mc_li span {
    display: block;
    padding: 10px 5%;
    width: 90%;
    line-height: 1.5;
}

.mc_li .sp_ti {
    text-align: center;
}

.sp_li2 {
    font-weight: bold;
    padding: 10px 1%;
}

.sp_li2 .tst {
    font-size: 20px;
    padding: 0;
    margin-left: 15px;
}

.sp_li2 span {
    font-size: 90%;
    display: block;
}

/* fade in */
.fi {
    opacity: 0;
    transition: all 1s ease;
    will-change: contents;
}

.fi.is_active {
    opacity: 1;
    transform: none
}

.fi_lr {
    transform: translate(-200px, 0);
}

.fi_rl {
    transform: translate(200px, 0);
}

.fi_up {
    transform: translate(0, 200px);
}

.fi_down {
    transform: translate(0, -200px);
}

.fi_scaleUp {
    transform: scale(.5);
}

.fi_scaleDown {
    transform: scale(1.5);
}

.fi_rotateL {
    transform: rotate(180deg);
}

.fi_rotateR {
    transform: rotate(-180deg);
}

.fi_up_and_opa {
    transform: translate(0, 50px);
    opacity: 0;
}

/* 背景ぼかし */
.fi_filter {
    filter: blur(0);
    opacity: 1;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.fi_filter.is_active::before {
    content: '';
    background: inherit;
    filter: blur(2px);
    z-index: 2;
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
}


.img_li {
    margin: 0;
    list-style: none
}

.img_li2 {
    width: 90%;
    height: 250px;
    margin: 20px auto;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.img_li_in {
    width: 100%;
    height: 100%;
    position: relative;
}

.img_li_img:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.img_li2 a {
    color: #ffffff;
    position: relative;
    z-index: 10;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

.img_li2 a span {
    display: inline-block;
    margin: 25px 0 0 25px;
    font-size: 20px;
    position: relative;
    z-index: 10;
}

.img_li_img {
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    will-change: contents;
    z-index: 9;
    transition: 0.5s
}

a:hover .img_li_img {
    transform: scale(1.1);
    transition: all 0.5s;
}

#img_li_1 {
    background-image: url("../images/m1.jpg");
}

#img_li_2 {
    background-image: url("../images/m2.jpg");
}

#img_li_3 {
    background-image: url("../images/m3.jpg");
}

#img_li_4 {
    background-image: url("../images/m4.jpg");
}

.arrow_box, .sim_box {
    width: 80%;
    background-color: #dddddd; /* main_color_light */
    position: relative;
    padding: 15px
}

.sim_box {
    margin: 25px auto
}

.arrow_box {
    margin: 10px auto 40px
}

.arrow_box::after {
    content: "";
    border-top: #9B9B9B 25px solid;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -35px;
    right: 40%
}

.sim_box h3, .arrow_box h3 {
    margin: 5px 0 0 10px;
    color: #1676d2; /* accent_color */
}

.sim_box h3.pup {
    color: orangered;
    font-size: 21px;
}

.tbl_dl, .tbl_dl dt, .tbl_dl dd {
    box-sizing: border-box
}

.tbl_dl {
    background: #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 90%;
    margin: 10px auto
}

.tbl_dl dt, .tbl_dl dd {
    padding: 10px 10px 0 10px;
    border-top: 1px solid #ccc
}

.tbl_dl dt {
    width: 50%;
    float: left;
    text-align: center
}

.tbl_dl dd {
    background: #fff;
    margin-left: 50%;
    padding-bottom: 10px;
    border-left: 1px solid #ccc
}

.tbl_dl dd:after {
    content: '';
    display: block;
    clear: both
}

#bread_crumb {
    list-style: none;
    font-size: 14px;
    padding: 10px 2%;
    width: 96%;
    height: 25px;
    background-color: #f5f5f5; /* background_color */
    border-top: solid #dcdcdc 1px;
    border-bottom: solid #dcdcdc 1px;
}

#bread_crumb li {
    display: inline-block;
    margin: 0 10px;
    padding: 0
}

#bread_crumb a {
    text-decoration: none;
    color: #333333
}

#bread_crumb h1 {
    font-size: 14px;
    font-weight: normal
}

#company_info {
    text-align: center;
    padding-bottom: 30px;
    width: 80%;
    margin: 10px auto 0;
    color: #333333; /* main_color_text */
}

#company_info ul {
    width: 310px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

#c_name_o {
    width: 250px;
    height: auto
}

#c_logo {
    width: 35px;
    height: 35px;
}

#f_logo {
    width: 200px;
    height: auto;
    margin-left: 5px;
}

#c_address, #c_post {
    margin-top: 10px;
    width: 300px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 1px;
}

#c_tel, #c_fax {
    width: 250px;
    height: 20px;
    margin-top: 5px;
    margin-left: 50px;
    text-align: left;
    letter-spacing: 1px;
}

#footer_l {
    margin-top: 30px
}

#footer_l ul {
    list-style: none;
    font-size: 15px;
    margin: 7px auto 0
}

#footer_l ul a {
    color: #333333; /* main_color_text */
}

#footer_l a {
    color: #333333; /* main_color_text */
    text-decoration: none
}

.fl_cat {
    width: 45%;
    float: left;
    margin-left: 4%;
    margin-top: 15px;
}

.bold_f {
    font-weight: bold
}

#copy_rights {
    margin-top: 30px;
    color: #333333; /* main_color_text */
    text-align: center;
    font-size: 13px
}

#page-top {
    margin: 0;
    padding: 0
}

#page-top p {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100
}

#move-page-top {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.sa {
    opacity: 0;
    transition: all .5s ease
}

.sa.show {
    opacity: 1;
    transform: none
}

@media screen and (min-width: 768px) {
    article p {
        margin-left: 40px;
    }

    h2:before {
        width: 45%
    }

    #top_page main {
        padding: 0
    }

    #top_page .mc_view {
        height: 500px;
        position: relative;
    }

    #top_page #bread_crumb {
        margin-top: 0
    }

    #top_img {
        width: 100%;
        position: fixed;
        z-index: -10;
        overflow: hidden;
        height: 500px;
        margin-top: 0;
        background-image: url("../images/t3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        will-change: contents;
    }

    .top_img_f {
        width: 100%;
        animation: imgFrame 21s 0s infinite;
        -webkit-animation: imgFrame 21s 0s infinite;
        /*transform: scaleX(1);*/
        position: relative;
        margin-left: -100%;
        transform: scaleX(0) translateX(0%) scaleY(1);
        filter: blur(15px);
        will-change: contents
    }

    .top_img_f:nth-of-type(2) {
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
    }

    .top_img_f:nth-of-type(3) {
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
    }

    .top_img_f:nth-of-type(4) {
        -webkit-animation-delay: 15s;
        animation-delay: 15s;
    }

    .top_img_in {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center center;
        position: absolute;
        will-change: contents
    }

    .top_img_in:before {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
    }

    #top_t1 {
        background-image: url("../images/t1.jpg");
    }

    #top_t2 {
        background-image: url("../images/t2.jpg");
    }

    #top_t3 {
        background-image: url("../images/t3.jpg");
    }

    #top_t4 {
        background-image: url("../images/t4.jpg");
    }

    #header_i {
        height: 80px;
        will-change: contents;
        transition: 1s;
        background-color: rgba(255, 255, 255, 0);
    }

    #site_title {
        float: left;
        width: 370px;
        margin-top: 15px;
        margin-left: 20px;
        line-height: 1;
    }

    #site_title a {
        display: block;
        color: #1676d2; /* accent_color */
    }

    #site_title span {
        margin-top: 0;
        margin-left: 5px;
        display: block;
        float: left;
    }

    #site_logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
    }

    #site_logo {
        width: 50px;
        height: 50px;
        float: left;
    }

    #main_logo {
        width: 300px;
        height: auto;
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
    }

    #header_info {
        position: absolute;
        top: 5px;
        right: 30px;
        width: 350px;
    }

    #tel_num {
        float: left;
        width: 200px;
        font-size: 22px;
        letter-spacing: 1px;
        color: #ffffff;
        line-height: 1;
        margin-right: 30px;
        margin-top: 5px;
        font-family: "Tahoma", serif;
        will-change: contents;
        transition: 1s;
        text-align: left;
    }

    .w2b {
        width: 30px;
        height: 30px;
        display: inline-block;
        mask: no-repeat center/70%;
        -webkit-mask: none no-repeat center/70%;
        float: left;
        margin-right: 10px;
    }

    #phone_icon {
        mask-image: url(../images/phonebk.png);
        -webkit-mask-image: url(../images/phonebk.png);
        background: #ffffff;
        will-change: contents;
        transition: 1s;
        margin-right: 4px;
        display: inline;
        width: 22px;
        height: 22px;
    }

    #f_icon {
        mask-image: url(../images/f_logo.png);
        -webkit-mask-image: url(../images/f_logo.png);
        background: #ffffff;
        will-change: contents;
        transition: 1s;
    }

    #t_icon {
        mask-image: url(../images/twitter_icon.png);
        -webkit-mask-image: url(../images/twitter_icon.png);
        background: #ffffff;
        will-change: contents;
        transition: 1s;
    }

    #g_nav {
        position: absolute;
        width: 50%;
        top: 25px;
        right: 0;
    }

    .g_nav_li {
        float: left;
        width: 20%;
        height: 45px;
        border: none;
    }

    a.g_nav_a {
        padding-top: 7px;
        height: 45px;
        display: block;
    }

    a .g_nav_a_s {
        color: #ffffff;
        text-shadow: rgba(165, 165, 165, 0.7) 0 0 2px;
        will-change: contents;
        border-bottom: 2px rgba(255, 255, 255, 0) solid;
        transition: 1s;
        display: block;
        width: 100%;
        margin: 0;
        height: 32px;
        position: relative;
    }

    a .g_nav_a_s.drop {
        border-bottom: none
    }

    a:hover .g_nav_a_s {
        border-bottom: 2px #1676d2 solid;
        transition: 1s;
    }

    /*
        a .g_nav_a_s.drop:after {
            content: "";
            border-top: #6B6B6B 10px solid;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            width: 0;
            height: 0;
            position: absolute;
            top: 7px;
            right: -15px;
            background-repeat: no-repeat;
        }*/
    #g_nav_btn.is_open + #g_nav_c1 {
        display: block;
        z-index: 100;
        position: absolute;
        top: 58px;
        left: -200%;
        background-color: #f0f0f0;
        width: 500%;
        height: auto;
        transition: 1s;
        padding: 80px 30% 30px 30%;
        box-shadow: 0 3px 3px 0 rgba(40, 40, 40, 0.1);
        border-radius: 10px;
    }

    #g_nav_btn.is_open + #g_nav_c1:after {
        content: "弊社の印刷技術";
        font-weight: bold;
        color: #333333;
        position: absolute;
        width: 100%;
        top: 15px;
        left: 0;
        z-index: 101;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
    }

    #g_nav_btn.is_open + #g_nav_c1:before {
        content: "";
        border-bottom: #f0f0f0 20px solid;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 43%;
    }

    a:hover .g_nav_a_s.drop {
        border-bottom: none;
        transition: 1s;
    }


    #g_nav_li ul {
        position: absolute;
        top: 40px;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 2%;
        background: #072A24;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }

    .g_nav_c {
        width: 40%;
        height: 100px;
        float: left;
        margin-bottom: 45px;
        margin-right: 5%;
        margin-left: 5%;
    }

    #top_img_text {
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
    }

    .blend_text {
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: rgba(155, 155, 155, 0.9) 0 0 3px;
        z-index: 12;
        will-change: auto;
    }

    #top_page_nav {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        height: 120px;
        overflow: hidden;
        background: none;
        width: 100%;
        display: block;
    }

    #top_page_nav ul {
        width: 100%;
        height: 120px;
        padding: 10px 0
    }

    #top_page_nav li {
        list-style: none;
        width: 29%;
        float: left;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 1%;
        border-radius: 8px;
        padding: 8px 1%;
        color: #007bbb; /* main_color_dark */
        z-index: 100;
    }

    #top_page_nav li:last-child {
        border-right: none
    }

    #top_page_nav li a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 5%;
        width: 90%;
        height: 100px;
        display: block;
        position: relative;
        z-index: 12;
    }

    /* design top_page_nav */
    #top_page_nav li a {
        border-right: #ffffff 1px dotted;
        border-bottom: none;
    }

    #top_page_nav li a:last-child {
        border-right: none;
    }

    .top_page_nav_title {
        display: block;
        font-weight: bold;
        font-size: 18px;
    }

    a .top_page_nav_title {
        text-decoration: none;
        color: #333333;
    }

    .top_page_nav_d {
        display: block;
    }

    a .top_page_nav_d {
        text-decoration: none;
        color: #333333;
    }

    .zigzag {
        position: relative;
        width: 100%;
        height: 5px;
        background: #f5f5f5; /* background_color */
        margin-top: 15px;
        will-change: scroll-position;
    }

    .zigzag::before {
        height: 20px;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
    }

    .zigzag::before {
        top: -20px;
        background: linear-gradient(45deg, #f5f5f5 10px, transparent 0),
        linear-gradient(315deg, #f5f5f5 10px, transparent 0); /* background_color */
        background-size: 20px 20px;
    }

    .info_date {
        float: left;
    }

    .info_cont {
        float: left;
    }

    .l_view {
        will-change: scroll-position;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .text_area1 {
        width: 40%;
        padding: 60px 7%;
        float: right;
    }

    .text_area1 h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 30px;
    }

    .text_area1 h2:before {
        display: none;
    }

    article .text_area1 p {
        margin-left: 10px;
    }

    .image_area1 {
        width: 45%;
        float: left;
        height: 500px;
        background-image: url("../images/img_a1.jpeg");
        background-size: cover;
    }


    .l_view .next {
        position: relative;
        margin-top: 30px;
        float: right
    }

    .mc_li li.sp_li2 {
        width: 45%;
        margin-left: 2%;
    }

    .mc_li li.sp_li3 {
        width: 30%;
        margin-left: 2%;
    }

    .sp_li2, .sp_li3 {
        float: left;
        list-style: none
    }

    .sp_li2, .sp_li3 {
        float: left;
        list-style: none
    }

    .sp_li2 {
        width: 43%;
        z-index: 100;
        position: relative;
    }

    /* fade in */
    .fi {
        opacity: 0;
        transition: all 1s ease;
        will-change: contents;
    }

    .fi.is_active {
        opacity: 1;
        transform: none
    }

    .fi_lr {
        transform: translate(-200px, 0);
    }

    .fi_rl {
        transform: translate(200px, 0);
    }

    .fi_up {
        transform: translate(0, 200px);
    }

    .fi_down {
        transform: translate(0, -200px);
    }

    .fi_scaleUp {
        transform: scale(.5);
    }

    .fi_scaleDown {
        transform: scale(1.5);
    }

    .fi_rotateL {
        transform: rotate(180deg);
    }

    .fi_rotateR {
        transform: rotate(-180deg);
    }

    .fi_up_and_opa {
        transform: translate(0, 50px);
        opacity: 0;
    }

    /* 背景ぼかし */
    .fi_filter {
        filter: blur(0);
        opacity: 1;
        z-index: 1;
        overflow: hidden;
        position: relative;
    }

    .fi_filter.is_active::before {
        content: '';
        background: inherit;
        filter: blur(2px);
        z-index: 2;
        position: absolute;
        top: -5px;
        bottom: -5px;
        right: -5px;
        left: -5px;
    }

    .bg_img h2 {
        text-align: center;
        font-size: 25px;
        color: #ffffff;
        text-shadow: #bbbbbb 0 0 2px;
        letter-spacing: 2px;
        z-index: 5;
        margin: 20px 0 10px;
        width: 100%;
    }

    #bg_img1 {
        background-image: url("../images/bg1.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin: 30px 0;
        /* 背景ぼかし ここまで */
    }

    .img_li {
        margin: 0;
        list-style: none
    }

    .img_li2 {
        width: 45%;
        height: 250px;
        float: left;
        margin: 20px 2%;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    .img_li_in {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .img_li_img:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .img_li2 a {
        color: #ffffff;
        position: relative;
        z-index: 10;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
    }

    .img_li2 a span {
        display: inline-block;
        margin: 25px 0 0 25px;
        font-size: 20px;
        position: relative;
        z-index: 10;
    }

    a:hover .img_li_img {
        transform: scale(1.1);
        transition: all 0.5s;
    }

    #img_li_1 {
        background-image: url("../images/m1.jpg");
    }

    #img_li_2 {
        background-image: url("../images/m2.jpg");
    }

    #img_li_3 {
        background-image: url("../images/m3.jpg");
    }

    #img_li_4 {
        background-image: url("../images/m4.jpg");
    }

    .arrow_box:after {
        content: "";
        border-top: #9B9B9B 25px solid; /* accent_color */
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -35px;
        right: 45%
    }

    .tbl_dl {
        background: #eee;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        width: 70%;
        margin: 10px auto
    }

    #company_info {
        width: 35%;
        margin: 10px 0 0 0;
        float: left;
    }

    #company_info ul {
    }

    #f_logo {
        width: 200px;
        height: auto;
    }

    #footer_l {
        width: 65%;
        float: left;
    }

    .fl_cat {
        width: 25%;
        float: left;
        margin: 0;
    }

    .sa {
        transition: all .5s ease
    }
}

@media screen and (min-width: 1020px) {
    #top_page_nav ul {
        width: 100%;
        margin: 0 auto;
    }

    .wrapper {
        width: 1020px;
        margin: 0 auto;
        padding: 0
    }
    .mob_none{
        display: inline;
    }
}

/* accent_color #1676d2 */
/* main_color #fff59d */
/* bg_color #f5f5f5 */
/* link_color #0074a2 */

