<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><!--title--></title>
	<meta name="keywords" content="<!--meta-key-->">
	<meta name="description" content="<!--description-->">
	<meta name="robots" content="index,follow"/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../product/css/base7.css" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="../product/images/favicon.ico">
</head>
<body id="top_page">
<header id="page_t">
	<div id="h_wrapper">
		<div id="header_i">
			<h1 id="site_title"><img src="../product/images/logo3.png" alt="株式会社ウォーターメロン"></h1>
			<nav id="g_nav">
				<ul>
					<li><a href="../product/making_site/"><span class="g_o"><span data-hover="サイト作成"
					                                                              class="g_i">サイト作成</span></span></a>
					</li>
					<li><a href="../product/technology/"><span class="g_o"><span data-hover="Web技術"
					                                                             class="g_i">Web技術</span></span></a>
					</li>
					<li><a href="../product/company"><span class="g_o"><span data-hover="会社案内"
					                                                         class="g_i">会社案内</span></span></a></li>
					<li><a href="../product/contact"><span class="g_o"><span data-hover="お問合せ"
					                                                         class="g_i">お問合せ</span></span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<main role="main">
	<article>
		<section>
			<h2>H2 text</h2>
			<p>p text<br>ああああああああああああああああああああああああああああああああああああああああああああああああ
				ああああああああああああああ</p>
			<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああ
				あああああああああああああああああああああ<br>あああああああああああああああああああああああああああああああ
				ああああああああああああああああああああああ</p>
		</section>
		<div class="split_li">
			<ul>
				<li class="sp_li2"><a href="../product/">テキスト</a></li>
				<li class="sp_li2"><a href="../product/">テキスト</a></li>
				<li class="sp_li3"><a href="../product/">テキスト</a></li>
				<li class="sp_li3"><a href="../product/">テキスト</a></li>
				<li class="sp_li3"><a href="../product/">テキスト</a></li>
			</ul>
		</div>


	</article>
</main>

<footer class="main_cl_bg">
	<div id="f_wrapper">
		<div id="company_info">
			<ul>
				<li id="c_name_o"><img src="../product/images/logo_w.png" id="c_logo" alt="ウォーターメロンロゴ"/><span
						id="c_name">株式会社ウォーターメロン</span>
				</li>
				<li id="c_address">宮崎県宮崎市清武町</li>
				<li id="c_tel">090-1873-5668</li>
			</ul>
		</div>
		<div id="footer_l">
			<ul>
				<li class="fl_cat"><a href="../product/making_site/" class="bold_f">サイト作成</a>
					<ul>
						<li><a href="../product/making_site/index.html#sec01">Webサイト作成の流れ</a></li>
						<li><a href="../product/making_site/index.html#sec02">サイト作成料金</a></li>
						<li><a href="../product/making_site/index.html#sec03">よくあるご質問</a></li>
					</ul>
				</li>
				<li class="fl_cat"><a href="../product/technology/" class="bold_f">Web技術</a>
					<ul>
						<li><a href="../product/technology/">Webサイトのモバイル対応</a></li>
						<li><a href="../product/technology/">SSL対応</a></li>
						<li><a href="../product/technology/">表示速度の高速化</a></li>
						<li><a href="../product/technology/">構造化データの追加</a></li>
					</ul>
				</li>
				<li class="fl_cat"><a href="../product/company/" class="bold_f">会社案内</a>
					<ul>
						<li><a href="../product/company/index.html#sec01">会社情報</a></li>
						<li><a href="../product/company/index.html#sec02">弊社の強み</a></li>
						<li><a href="../product/company/index.html#sec03">代表プロフィール</a></li>
					</ul>
				</li>
				<li class="fl_cat"><a href="../product/contact/" class="bold_f">お問合せ</a>
					<ul>
						<li><a href="../product/contact/">メール</a></li>
					</ul>
				</li>
				<li class="fl_cat"><a href="../product/policy/" class="bold_f">サイトポリシー</a>
					<ul>
						<li><a href="../product/policy/index.html#sec01">プライバシーポリシー</a></li>
					</ul>
				</li>
			</ul>
		</div>


		<div id="copy_rights">&copy; 2014
			<span id="cp_year"></span>
			Watermelon Co., Ltd.
		</div>
	</div>
</footer>
<div id="page-top"><p><a href="#page_t" id="move-page-top" class="sa"><img src="../product/images/big2.png"
                                                                              alt="ページTOPに戻る"/></a></p>
</div>
<!--free_script-->
<script type="text/javascript" src="../product/designChange.js" charset="UTF-8"></script>
<!--著作権表記の西暦表示-->
<script>
    let now = new Date().getFullYear();
    let cpY = document.getElementById('cp_year');
    if (now > 2014) {
        cpY.innerText = "- " + new Date().getFullYear()
    }
</script>
<!--画面への高さ合わせ-->
<script>
    const sH = window.innerHeight;
    const sW = window.innerWidth;
    const b_height = document.getElementsByClassName('bc_view');
    for (let i = 0; i < b_height.length; i++) {
        b_height[i].style.height = String(sH - 80) + 'px'
    }
    const m_height = document.getElementsByClassName('mc_view');
    for (let j = 0; j < m_height.length; j++) {
        m_height[j].style.height = String(sH - 127) + 'px'
    }
    const t_height = document.getElementById('top_img');
    let tpH = 0;
    if (sW < 768) {
        tpH = 100
    }
    console.log(String(sH - 200 - tpH) + 'px');
    t_height.style.height = String(sH - 200 - tpH) + 'px'
</script>
<!--back_tot_opの表示操作-->
<script>
    let TopPosition = 0;
    const documentElement = document.documentElement;
    const toTop = document.getElementById('move-page-top');
    let timer = null;
    const scrollAnimationFunc = function () {
        clearTimeout(timer);
        timer = setTimeout(function () {
            TopPosition = documentElement.scrollTop;
            console.log(TopPosition);
            if (window.innerHeight / 3 * 2 < TopPosition) {
                toTop.classList.add('show');
            } else if (window.innerHeight / 3 * 2 > TopPosition) {
                toTop.classList.remove('show')
            }
        }, 150);
    };
    window.addEventListener('load', scrollAnimationFunc);
    window.addEventListener('scroll', scrollAnimationFunc);
</script>
<!--滑らかスクロール-->
<script>
    const scrollElm = (function () {
        if ('scrollingElement' in document) return document.scrollingElement;
        if (navigator.userAgent.indexOf('WebKit') !== -1) return document.body;
        return document.documentElement;
    })();
    (function () {
        const duration = 600;
        const ignore = '.noscroll';
        const easing = function (t, b, c, d) {
            return c * (0.5 - Math.cos(t / d * Math.PI) / 2) + b;
        };
        const smoothScrollElm = document.querySelectorAll('a[href^="#"]:not(' + ignore + ')');
        Array.prototype.forEach.call(smoothScrollElm, function (elm) {
            elm.addEventListener('click', function (e) {
                e.preventDefault();
                const targetElm = document.querySelector(elm.getAttribute('href'));
                if (!targetElm) return;
                let targetPos;
                if (targetElm.id !== 'page_t') {
                    targetPos = targetElm.getBoundingClientRect().top + 15;
                    console.log('true')
                } else {
                    targetPos = targetElm.getBoundingClientRect().top - 80;
                    console.log('False')
                }
                console.log(targetPos);
                const startTime = Date.now();
                const scrollFrom = scrollElm.scrollTop;
                (function loop() {
                    const currentTime = Date.now() - startTime;
                    if (currentTime < duration) {
                        scrollTo(0, easing(currentTime, scrollFrom, targetPos, duration));
                        window.requestAnimationFrame(loop);
                    } else {
                        scrollTo(0, targetPos + scrollFrom);
                    }
                })();
            })
        });
    })();
</script>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Corporation",
		"name": "株式会社ウォーターメロン",
		"alternateName": "watermelon Co., Ltd.",
		"description": "スマホ対応デザインのWebサイトをお手頃な料金でお作りします！",
		"founder": "Tetsuhiko Nakatake",
		"foundingDate": "17 Oct,2012",
		"telephone": "+81-090-1873-5668",
		"url": "https://www.wmelon.co.jp/",
		"address": {
			"@type": "PostalAddress",
			"postalCode": "8891604",
			"addressCountry": "JP",
			"addressRegion": "Miyazaki-ken",
			"addressLocality": "Miyazaki-shi",
			"streetAddress": "Kiyotakecho Funahiki"
		}
	}
</script>
</body>
</html>